
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Microsoft Yahei,sans-serif;
    list-style: none;
    color: white;
}
a{
    color: #666666;
    text-decoration: none;
}
a:hover{
    color: #f60;
}
.clearfix:after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix{
    zoom: 1;
}
body{
    background-color:#0d184d;
}
.container{
    width: 400px;
    margin-top: 20px;
    margin-left:-40px;
    position: relative;

}
.box {
    padding: 40px;
}
.iwrap {
    position: relative;
    width: 285px;
    height: 385px;
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    overflow: hidden;
}
.iwrap .view {
    padding: 23px;

}
.iwrap .view span {
    display: block;
}
.iwrap .view span.t {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    color: #ababab;
}
.iwrap .view span.num {
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    font-family: arial;
}
.iwrap .float {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("images/headlogo.jpg") no-repeat;
    padding: 15px;
    top: -100%;
    left: -100%;
}
.iwrap .float p{

}
.iwrap .float .chart {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    vertical-align: middle;
}
.iwrap .float .chart:before {
    position: absolute;
    display: block;
    content: " ";
    height: 55px;
    width: 10px;
    background-color: #ffffff;
    left: 4px;
    bottom: 3px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.iwrap .float .chart:after {
    position: absolute;
    display: block;
    content: " ";
    height: 35px;
    width: 10px;
    background-color: #ffffff;
    left: 19px;
    bottom: 3px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.iwrap .float .chart i {
    position: absolute;
    display: block;
    height: 20px;
    width: 10px;
    background-color: #ffffff;
    left: 33px;
    bottom: 3px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.iwrap .float .chart i:before {
    position: absolute;
    display: block;
    content: " ";
    height: 6px;
    width: 10px;
    background-color: #ffffff;
    left: 14px;
    bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.iwrap .float > span {
    color: #ffffff;
    font-size: 24px;
}
.iwrap .float > ul {
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
}
.iwrap .float > ul li {
    float: left;
    width: 50%;
    height: 30px;
    line-height: 30px;
}
.iwrap .float > ul li b {
    color: #ffffff;
    font-weight: normal;
}
.iwrap .float > ul li span {
    color: #ffffff;
}
/*验证码*/
.yanzheng{
    font-size: 24px;
    color: white;
    position: absolute;
    left: 900px;
    top: 40px;
    width: 255px;
}
.yanzheng p{
    margin-top: 20px;
}
.yanzheng #tijao{
    position: absolute;
    right: 35px;
    bottom: -35px;

    background-color: #fff;
    width: 70px;
    border-radius: 15px;
}
.yanzheng #login{
    width: 250px;
    border: 1px solid white;
    text-align: center;
}
/*主题色*/
.jinzhi-title{
    font-size: 24px;
    color: white;
    padding-left: 90px;
    margin-bottom: 10px;
}
.jinzhi{
    padding-left: 90px;
}
.jinzhi>li{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #0b0b0a;
    border: 2px solid #f7f6ff;

}
/*主体相册开始*/
/*版心980*/
.public{
    width: 1280px;
    color: white;
    margin: 0 auto;
}
.fenxian{
    height: 4px;
    background-color: white;
    margin-top: 10px;

}
/*遮照*/
.zhezhao{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 584px;
    left: 0;
    background-color: rgba(0,0,0,0.5);

}
/*小组团队*/
.tuandui{
    position: relative;
}

.tuandui li{

    float: left;
    margin-top: 22px;
    width:408px;
    height: 208px;
    overflow: hidden;
    margin-left: 15px;
    border: 4px solid white;
    position: relative;
   
}
.lispan1{
    padding-left: 20px;
    width: 400px;
    height: 50px;
    display: block;
    position: absolute;
    text-align: center;
    line-height: 50px;
    bottom: -50px;
    opacity: 0.5;
    font-weight: 700;
    font-size: 20px;
    background-color: #0D184D;
}
.lispan1:nth-child(1){
    width: 420px;
}
 .fu{
    width: 813px;
    height: 613px;
z-index: -10;
    position: absolute;
    left: 240px;
    top: 50px;

}
.fu>div{
    margin-left: 3px;
    margin-top: 3px;
    /*width: 400px;*/
    /*height: 300px;*/
    float: left;

}
/*.son0{*/
    /*background: url("images/zhanshi11.jpg");*/
/*}*/
/*.son1{*/
    /*background: url("images/zhanshi11.jpg") 400px 0px ;*/
/*}*/
/*.son2{*/
    /*background: url("images/zhanshi11.jpg") 0px 300px ;*/
/*}*/
/*.son3{*/
    /*background: url("images/zhanshi11.jpg") 400px 300px ;*/
/*}*/
/*个人经历*/
.mySelf p{
    font-size: 24px;
    padding-left: 90px;
    margin-bottom: 10px;
    margin-top: 40px;
}
.mySelf .experice {
    position: relative;
    width: 1250px;
    height: 600px;
    margin: 50px auto;
    border: 2px solid white;

    overflow: hidden;


}

.experice li {
    opacity: 0.9;
    padding-left: 75px;
    width: 1000px;
    height: 600px;
    font-size: 30px;
    background: no-repeat;
    color: #ff4080;
    position: absolute;

}

.experice ul {
    width: 1250px;

}
.experice li span{
    border-bottom: 2px dotted white;
    margin-left: 200px;
    font-size: 20px;
   color: #ff8219;
}
.experice em{
    color: red;
    font-size: 24px;
}